
.vs/ProjectEvaluation/skyhell.metadata.v2
.vs/ProjectEvaluation/skyhell.projects.v2
.vs/SkyHell/FileContentIndex/65779a72-2e48-4e4f-864b-ab15b20efb30.vsidx
.vs/SkyHell/FileContentIndex/67706e4d-47e1-47f0-9367-20573f5240fb.vsidx
.vs/SkyHell/FileContentIndex/8950e847-2684-4e6f-a465-ac225f1bd6a1.vsidx
.vs/SkyHell/FileContentIndex/a38606dc-02ad-4775-830e-9418108e6477.vsidx
.vs/SkyHell/FileContentIndex/read.lock
.vs/SkyHell/v17/.futdcache.v1
.vs/SkyHell/v17/.suo
.vs/SkyHell/FileContentIndex/7efa7a0b-0fa1-4c9b-b90a-27edb2cc5c20.vsidx
.vs/SkyHell/FileContentIndex/94b54f22-36dc-43c5-83aa-d9f55104f51c.vsidx
